{% extends 'layout.html' %}
{% block content %}
<style>
    body{
        background: none;
    }
.myblock{
    border:1px solid blank;
    border-radius: 4%;
    background: none;
    margin-top:20%;
    padding:3%;
}
.h1{
    margin-bottom:5% ;
    color:coral;
}
.mybtn{
 background: rgba(0,0,0,0.5);
}

</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 myblock">
           <center> <h1 class="h1">USER MANAGEMENT</h1></center>
            <form action="/signup" method="POST" class="form-group">
                <div class="form-group">
                    <input  type="text" name="username" placeholder="Username" class="form-control" required>
                </div>            
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control" required>
            </div>
            
            <div class="form-group">
            <label for="admin">Choose 1 pour admin et 0 utilisateur :</label>

              <select id="admin" name="admin" >
                <option value="1">1</option>
                <option value="0">0</option>  
             </select>
            </div>
            
            
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-dark mybtn">Submit</button>
                <a href="/login" class="btn btn-block btn-dark  mybtn link">Login</a>
            </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
    </div>
</div>


{% endblock %}